<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding nav-account-seller">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <form class="searchbar searchbar-init" data-search-container=".search-list" data-search-in=".item-title">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Pencarian produk">
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                </div>
            </form>
            <div class="right">
                <a href="/share/">
                    <i class="fas fa-share"></i>
                </a>
                <a href="/settings/">
                    <i class="fas fa-cog"></i>
                </a>
            </div>
            <!-- searchbar -->
            <form class="searchbar searchbar-init searchbar-expandable" data-search-container=".search-list" data-search-in=".item-title">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Search in Stores">
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                </div>
            </form>
            <!-- end searchbar -->
        </div>
    </div>
    <div class="page-content">
        <!-- account seller -->
        <div class="account-seller segments-bottom">
            <!-- header account -->
            <div class="header-account">
                <div class="overlay"></div>
                <img src="images/mega_we_care/toko/banner-toko.jpg" alt="">
                <div class="header-account-wrapper">
                    <div class="container">
                        <div class="row text-align-center">
                            <div class="col-70">
                                <div class="user-caption">
                                    <img src="images/mega_we_care/toko/icon-toko.png" alt="">
                                    <div class="title-name">
                                        <h5>Cahaya Terang</h5>
                                        <ul class="rate-product">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star-half-alt"></i></li>
                                            <span>(4.5)</span>
                                        </ul>
                                        <p class="total-followers">1200 Followers</p>
                                        <p><i class="fas fa-map-marker-alt"></i>Jakarta</p>

                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-30">
                                <div class="user-button">
                                    <a href="#" class="button primary-button">Follow</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header account -->
            <!-- <div class="account-status-info">
                <div class="toolbar tabbar bg-solid-gray py-30">
                    <div class="toolbar-inner justify-content-center">
                        <a href="/catalog-product/" class="button primary-button"><span class="fas fa-plus"></span>
                            Tambahkan Produk</a>
                    </div>
                </div>
            </div> -->
            <div class="categories segments ">
                <div class="container">
                    <div class="row ">
                        <div class="col-20">
                            <div class="content">
                                <a href="#" class="">
                                    <div class="icon">
                                        <i class="fas fa-layer-group"></i>
                                    </div>
                                    <span>Kategori</span>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- account status -->
            <!-- product -->
            <div class="product">
                <!-- <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex justify-content-center">
                                <img src="images/mega_we_care/toko/cart-empty.svg" width="100" alt="">

                            </div>
                            <div>
                                <div class="text-center my-30">
                                    <p>Toko masih kosong. Cari Produkdi di Beranda dan Tambahkan ke Toko Saya.</p>
                                </div>
                                <a href="/catalog-product/" class="button primary-button">
                                    <span class="fas fa-plus">
                                    </span> Tambah Produk</a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="container">
                    <div class="row">
                        <div class="col-50">
                            <div class="content content-shadow-product">
                                <a href="/product-details/">
                                    <img src="https://pyxis.nymag.com/v1/imgs/693/b14/1cd53072038e1467529bbe67c560bbca08-13-Skincare-lede.rsquare.w700.jpg" alt="">
                                    <div class="text">
                                        <p class="title-product">Mouse multimedia - bluetooth - black
                                        </p>
                                        <p class="price">Rp. 70.00</p>
                                        <p class="location">Jakarta</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-50">
                            <div class="content content-shadow-product">
                                <a href="/product-details/">
                                    <img src="https://assets.vogue.com/photos/5f3d7e06a469cffcf783317b/master/w_1280%2Cc_limit/slide_3.jpg" alt="">
                                    <div class="text">
                                        <p class="title-product">Comfortable loafers for work</p>
                                        <p class="price">Rp. 109.00</p>
                                        <p class="location">Jakarta</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-50">
                            <div class="content content-shadow-product">
                                <a href="/product-details/">
                                    <img src="https://m.media-amazon.com/images/I/61soLetSucL._SL1500_.jpg" alt="">
                                    <div class="text">
                                        <p class="title-product">Comfortable sweater- only gray color
                                        </p>
                                        <p class="price">Rp. 69.99</p>
                                        <p class="location">Jakarta</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-50">
                            <div class="content content-shadow-product">
                                <a href="/product-details/">
                                    <img src="https://m.media-amazon.com/images/I/41pEHt3wFtL.jpg" alt="">
                                    <div class="text">
                                        <p class="title-product">Thick jacket for winter - men's</p>
                                        <p class="price">Rp. 99.99</p>
                                        <p class="location">Jakarta</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end product -->
        </div>
        <!-- end account status -->
    </div>
    <!-- end account seller -->
</div>