<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="right nav-product-detail">
                <a href="#"><i class="fas fa-share-alt"></i></a>
                <a href="#" @click="showToastBottom"><i class="fas fa-heart"></i></a>
                <a href="/shopping-cart/"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- product details -->
        <div class="product-details segments">
            <div class="container">
                <!-- slider product details -->
                <div class="slider-p-details">
                    <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="10" class="swiper-container swiper-init swiper-container-horizontal">
                        <div class="swiper-pagination"></div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="content">
                                    <div class="mask"></div>
                                    <img src="images/product-details1.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content">
                                    <div class="mask"></div>
                                    <img src="images/product-details2.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content">
                                    <div class="mask"></div>
                                    <img src="images/product-details3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider product details -->

                <!-- wrap content product details -->
                <div class="wrapper-content">
                    <div class="wrap-title-product wrap-c-margin">
                        <h4>cheap elegant sweater with collar</h4>
                        <p class="price">Rp. 155.00</p>
                    </div>

                    <div class="wrap-info">
                        <div class="list">
                            <ul>
                                <li>
                                    <a href="#" class="item-link item-content sheet-open" data-sheet=".description-sheet">
                                        <div class="item-inner item-cell">
                                            <div class="item-row">
                                                <div class="item-cell">Product Details</div>
                                                <div class="item-cell">Description</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="item-link item-content sheet-open" data-sheet=".specification-sheet">
                                        <div class="item-inner item-cell">
                                            <div class="item-row">
                                                <div class="item-cell">Specification</div>
                                                <div class="item-cell">Merk, Model, Material</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- description sheet modal -->
                        <div class="sheet-modal description-sheet">
                            <div class="toolbar">
                                <div class="toolbar-inner">
                                    <div class="left">Description</div>
                                    <div class="right">
                                        <a href="#" class="link sheet-close"><i class="fas fa-check"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="sheet-modal-inner segments">
                                <div class="page-content">
                                    <div class="container">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eveniet totam optio eaque nemo, autem doloremque in impedit sequi deleniti!</p>

                                        <!-- divider space for text -->
                                        <div class="divider-space-text"></div>
                                        <!-- end divider space for text -->

                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, laudantium.</p>

                                        <!-- divider space for text -->
                                        <div class="divider-space-text"></div>
                                        <!-- end divider space for text -->

                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis odit accusamus laborum nemo magnam suscipit!</p>

                                        <!-- divider space for text -->
                                        <div class="divider-space-text"></div>
                                        <!-- end divider space for text -->

                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quidem expedita nihil molestias quibusdam dolores at sunt obcaecati repudiandae nemo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end description sheet modal -->

                        <!-- specification sheet modal -->
                        <div class="sheet-modal specification-sheet">
                            <div class="toolbar">
                                <div class="toolbar-inner">
                                    <div class="left">Specification</div>
                                    <div class="right">
                                        <a href="#" class="link sheet-close"><i class="fas fa-check"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="sheet-modal-inner segments">
                                <div class="page-content">
                                    <div class="container">
                                        <ul>
                                            <li>Merk <span>ABC</span></li>
                                            <li>Material <span>Plactic</span></li>
                                            <li>Model <span>123</span></li>
                                            <li>Status <span>Local Product</span></li>
                                            <li>The Warranty <span>Official Guarantee</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end specification sheet modal -->

                    </div>


                </div>
                <!-- end wrap content product details -->
            </div>


            <!-- product review -->
            <div class="product-review segments">
                <div class="container">
                    <div class="section-title">
                        <h3>Produk Review</h3>
                    </div>
                    <div class="content">
                        <img src="images/user-buyer2.png" alt="">
                        <div class="text">
                            <h6>Rashaad</h6>
                            <ul class="rate-product">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star-half-alt"></i></li>
                            </ul>
                            <p class="date">3 min ago</p>
                            <i class="fas fa-thumbs-up like-button"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, explicabo.</p>
                        </div>
                    </div>

                    <!-- divider -->
                    <div class="divider-line-half"></div>
                    <!-- end divider -->

                    <div class="content">
                        <img src="images/user-buyer1.png" alt="">
                        <div class="text">
                            <h6>Aamir</h6>
                            <ul class="rate-product">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star-half-alt"></i></li>
                            </ul>
                            <p class="date">3 min ago</p>
                            <i class="fas fa-thumbs-up like-button"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, explicabo.</p>
                        </div>
                    </div>

                    <!-- divider -->
                    <div class="divider-line-half"></div>
                    <!-- end divider -->

                    <div class="content">
                        <img src="images/user-buyer3.png" alt="">
                        <div class="text">
                            <h6>Kemal</h6>
                            <ul class="rate-product">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star-half-alt"></i></li>
                            </ul>
                            <p class="date">3 min ago</p>
                            <i class="fas fa-thumbs-up like-button"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, explicabo.</p>
                        </div>
                    </div>
                    <!-- view all reviews -->
                    <div class="view-all-review">
                        <a href="/all-reviews/">View All Reviews</a>
                    </div>
                    <!-- end view all reviews -->
                </div>
            </div>
            <!-- end product review -->

            <!-- divider -->
            <div class="divider-line-full"></div>
            <!-- end divider -->

            <!-- recommended for you -->
            <div class="recommended-you">
                <div class="container">
                    <div class="section-title">
                        <h3>Rekomendasi Produk</h3>
                    </div>
                    <div data-space-between="10" data-slides-per-view="auto" class="swiper-container swiper-init">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="content content-shadow-product">
                                    <img src="images/product1.jpg" alt="">
                                    <div class="text">
                                        <a href="#">
                                            <p class="title-product">Sweater with triangle collar</p>
                                        </a>
                                        <p class="price">$75.00</p>
                                        <p class="location">New York</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content content-shadow-product">
                                    <img src="images/product2.jpg" alt="">
                                    <div class="text">
                                        <a href="#">
                                            <p class="title-product">New slim smartwatch</p>
                                        </a>
                                        <p class="price">$49.00</p>
                                        <p class="location">New York</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content content-shadow-product">
                                    <img src="images/product3.jpg" alt="">
                                    <div class="text">
                                        <a href="#">
                                            <p class="title-product">Army jacket premium</p>
                                        </a>
                                        <p class="price">$99.99</p>
                                        <p class="location">New York</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content content-shadow-product">
                                    <img src="images/product5.jpg" alt="">
                                    <div class="text">
                                        <a href="#">
                                            <p class="title-product">Black premium shirt plain</p>
                                        </a>
                                        <p class="price">$45.00</p>
                                        <p class="location">New York</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end recommended for you -->

        </div>
        <!-- end product details -->

        <!-- action product details -->
        <div class="wrap-action-product-d">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="content-button">
                            <a href="#" class="button primary-button"><i class="fas fa-plus"></i>Tambah ke Toko Saya</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end action product details -->
    </div>
</div>