<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <div class="title">
                Share
            </div>
            <div class="right">
                <a href="/notification-settings/"><i class="fas fa-cog"></i></a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- notification -->
        <div class="notifi segments">
            <div class="container">
                <div class="title-time">
                    <h4>Bagikan Toko</h4>
                </div>
                <div class="divider-space-content"></div>

                <div class="images d-flex justify-content-center py-30">
                    <img src="images/share-sosmed.svg" class="" width="50%" alt="">
                </div>

                <div class="content">
                    <div class="categories segments ">
                        <div class="container">
                            <div class="row ">
                                <div class="col-20">
                                    <div class="content">
                                        <a href="#" class="">
                                            <div class="icon">
                                                <i class="fab fa-whatsapp" style="position: relative; font-weight: 900;"></i>
                                            </div>
                                            <span>Whatsapp</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-20">
                                    <div class="content">
                                        <a href="#" class="">
                                            <div class="icon">
                                                <i class="fab fa-facebook-f" style="position: relative; font-weight: 900;"></i>
                                            </div>
                                            <span>Facebook</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-20">
                                    <div class="content">
                                        <a href="#" class="">
                                            <div class="icon">
                                                <i class="fab fa-instagram" style="position: relative; font-weight: 900;"></i>
                                            </div>
                                            <span>Instagram</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-20">
                                    <div class="content">
                                        <a href="#" class="">
                                            <div class="icon">
                                                <i class="fas fa-share-alt" style="position: relative; font-weight: 900;"></i>
                                            </div>
                                            <span>Share</span>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- divider -->
                <div class="divider-space-content"></div>
                <!-- end divider -->
            </div>
        </div>
        <!-- end notification -->
    </div>
</div>